<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="elementor-widget-container">
    <h3 class="elementor-heading-title elementor-size-default">Contact Us</h3>		</div>
  <div class="" data-id="2fe7a638" data-element_type="widget" data-widget_type="icon-list.default">
    <table>
      <div class="elementor-widget-container">
        <a></a></br>
        <a></a></br>
        <a style="font-size:25px;" href="https://www.google.com/maps/dir//2651+Barcells+Ave,+Santa+Clara,+CA+95051/@37.3384271,-121.9744498,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x808fca60d261d4f7:0x7ccddd9a888274bf!2m2!1d-121.9722611!2d37.3384229!3e0"
          class="fa fa-map-marker" target="_blank">
          {{ site.location }}
        </a></br>
        <a href="mailto:{{ site.email }}" class="fa fa-envelope" style="font-size:25px;">
          {{ site.email }}
        </a></br>
        <a href="tel:{{ site.phone_number }}" class="fa fa-phone" style="font-size:25px;">
          {{ site.phone_number }}
        </a>
      </div>
    </table>
  </div>
</section>

<!-- Contact End -->