<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151">
  {% include navigation.html %}
  <div class="container">
    <table>
      <div class="elementor-widget-container">
        <a></a></br>
        <a></a></br>
        <a></a></br>
        <a href="" style="font-size:20px;">
          
        </a></br>
        <a href="mailto:{{ site.email }}" class="fa fa-envelope" style="font-size:20px;">
          <u>{{ site.email }}</u>
        </a></br>
        <a></a></br>
        <a href="tel:{{ site.phone_number }}" class="fa fa-phone" style="font-size:20px;">
          <u>{{ site.phone_number }}</u>
        </a></br>
        <a></a></br>
        <a style="font-size:20px;" href="https://www.google.com/maps/dir//2651+Barcells+Ave,+Santa+Clara,+CA+95051/@37.3384271,-121.9744498,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x808fca60d261d4f7:0x7ccddd9a888274bf!2m2!1d-121.9722611!2d37.3384229!3e0"
          class="fa fa-map-marker" target="_blank">
          <u>{{ site.location }}</u>
        </a></br>
        <a></a></br>
        <a></a></br>
      </div>
    </table>
  </div>

  {% for p in site.pages_list %}
  {% for page in site.pages %}
  {% if p[1] == page.section-type %}
  {% include {{ page.path }} %}
  {% endif %}
  {% endfor %}
  {% endfor %}

  {% include footer.html %}

  {% include js.html %}

</body>

</html>

<!-- Index Layout End -->